.navbar {
  height: 60px;
  background: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  position: sticky;
  top: 0;
}
.logo a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
}
.links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.links a {
  color: #fff;
  font-weight: 600;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 2rem;
  }
}
@media (max-width: 425px) {
  .navbar {
    padding: 0 1rem;
  }
}
